@charset "UTF-8";
button {
  background: none;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.header__btn {
  background-color: #f6ad49;
  border-radius: 5px;
  margin: 10px auto 20px;
  padding: 10px 0;
  text-align: center;
  width: 90%;
  font-size: 14px;
}

.header__btn .btn {
  color: #ffffff;
}

.header__btn .btn::before {
  content: "\f039";
  font-family: FontAwesome;
  padding-right: 0.3em;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

.flex, .header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content-width {
  margin: 0 auto;
  width: 90%;
  max-width: 1170px;
}

.header {
  background-color: #355ab3;
}

.header__title {
  padding: 15px 10px;
}

.header__nav {
  display: none;
}

@media (min-width: 480px) {
  .header__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__btn {
    width: 80px;
    margin: 10px;
  }
}

@media (min-width: 768px) {
  .header__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__title {
    margin-right: auto;
  }
  .header__btn {
    display: none;
  }
  .header__nav {
    display: block;
    margin-left: auto;
    margin-right: 10px;
  }
  .header__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0;
  }
  .header__li {
    padding: 0 20px;
    height: 70px;
    line-height: 70px;
  }
  .header__li:nth-child(1) {
    background-color: #3051a1;
  }
  .header__li:hover {
    background: rgba(0, 0, 0, 0.03);
    color: #f6ad49;
    border-bottom: 3px solid #f6ad49;
  }
  .header__li:hover > a {
    color: #f6ad49;
  }
  .header__li > a {
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
  }
  .header__li > a:hover {
    cursor: pointer;
  }
}

@media (min-width: 1280px) {
  /******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/
  .header__inner {
    max-width: 1170px;
    margin: 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__li > a {
    font-size: 16px;
  }
}
/*# sourceMappingURL=styles.css.map */